@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  background-color: #f9f8fb; }

/* ---------------- NAVBAR ---------------- */
#navbar-div {
  background-color: white;
  border-bottom: 1px solid #E0E0E0;
  width: 100%; }

nav {
  width: 100%;
  height: 3.5em;
  padding: 10px;
  text-align: center;
  word-spacing: 15em;
  /* give space between navbar icons */ }

#inlo-banner {
  width: 100px;
  height: 27px;
  color: #00D0A7;
  float: left; }

.right-nav-icons {
  width: 35px;
  height: 30px;
  float: right;
  padding: 2px;
  margin-right: 3vw; }

#userIcon {
  margin-top: -6px;
  width: 40px;
  height: 50px; }

#home-icon-svg {
  height: auto;
  padding-bottom: 7px;
  border-bottom: 6px solid #00D9A7; }

#add-devices-dropdown {
  float: right; }
  #add-devices-dropdown #dropdown-menu {
    display: none;
    width: 15vw;
    height: 15vh;
    background-color: silver;
    position: absolute;
    white-space: normal;
    right: 2vw;
    word-spacing: .1vw; }
  #add-devices-dropdown #dropdown-menu > li {
    margin-top: 2vh;
    white-space: nowrap;
    word-spacing: .1vw;
    cursor: pointer; }

/* ---------------- NAVBAR END ---------------- */
#prompt {
  text-align: center;
  margin-top: 200px;
  display: none;
  font-family: "Roboto", sans-serif; }

/* ---------------- VIEW SWITCHER BUTTONS ---------------- */
#page-title {
  display: inline-block;
  margin-right: 18vw;
  font-size: 24px;
  font-weight: bold;
  font-family: "Roboto", sans-serif; }

#views-div {
  text-align: center; }

#list-view-btn, #map-view-btn {
  text-align: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  width: 75px;
  height: 25px;
  border: none;
  background-color: transparent;
  margin-top: 30px; }

#list-view-btn:focus, #map-view-btn:focus {
  background: #E3E3E5;
  border-radius: 10px;
  outline: none;
  font-weight: bold; }

#list-view-btn.selected, #map-view-btn.selected {
  background: #E3E3E5;
  border-radius: 10px;
  outline: none;
  font-weight: bold; }

.views-icons {
  width: 15px;
  height: 15px;
  float: left; }

#listIcon {
  margin-top: -3px;
  height: 20px !important; }

#views-div {
  margin-left: 0px; }

#dropdown-sort-div {
  text-align: center; }

#sort-by-text {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: .75em;
  margin-top: 7vh; }

#sort-selection {
  background-color: white;
  border: 1px solid silver;
  border-radius: 10px;
  font-weight: bold;
  margin-right: 22.5vw;
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  padding: .1em; }

#sort-selection:focus {
  outline: none; }

#edit-mode-btn-div {
  text-align: center; }

#inlo-home {
  width: 20px;
  height: 20px; }

.btn-divs {
  display: inline-block; }

/* ---------------- ITEMS LISTED DIV ---------------- */
#items-listed-div {
  text-align: center; }

#items-listed {
  width: 32vw;
  display: inline-block;
  padding-right: 10px; }

.item-names {
  float: left;
  display: inline-block;
  font-family: "Roboto", sans-serif; }

.item-rooms {
  float: right;
  display: inline-block;
  font-family: "Roboto", sans-serif; }

.item-rows {
  padding: 25px;
  height: 11vh;
  margin-top: 2vh;
  border-radius: 1em;
  box-shadow: 0px 2px 5px 1px #9A9D9D; }

button#edit-devices-btn {
  margin-top: 20vh;
  float: left;
  background: gray;
  border: 0.1em solid gray;
  border-radius: 10px;
  font-family: "Roboto", sans-serif; }

/* ---------------- MAP VIEW DIV ---------------- */
@-moz-document url-prefix() {
  /* moz specific CSS */
  #map-view-div {
    height: 79vh;
    width: 193vh;
    display: none; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* webkit specific CSS */
  #map-view-div {
    height: 79vh;
    width: 198vh;
    display: none; } }

#map-editing-div {
  text-align: center;
  display: none; }

#map-view-text {
  display: none; }

#floorPlan {
  height: 100%; }

div.changes-div {
  text-indent: 30%; }

div#rect {
  border: 1px solid black;
  width: 20px;
  height: 20px; }

button {
  border: none;
  background: none; }

#edit-floorplan-btn-group {
  cursor: pointer;
  display: none; }

#edit-floorplan-btn-div {
  width: 10vw;
  height: 10vh;
  top: 70vh;
  right: 20vw;
  position: fixed; }

#edit-floorplan-btn {
  margin-top: -15px;
  margin-left: -15px;
  filter: drop-shadow(10 10 10 black); }
