/*IMPORTING FONTS*/
@import url(https://fonts.googleapis.com/css?family=Fugaz+One|Graduate|Raleway|Open+Sans+Condensed:300);
/* CREATE THE TITLE FONT */
@font-face {
  font-family: textFont;
  src: url(/fonts/aqua-webfont.woff2), url(/fonts/aqua-webfont.woff), url(/fonts/aqua.ttf);
  font-weight: normal;
  font-style: normal; }

/* CREATE THE TEXT FONT */
@font-face {
  font-family: titleFont;
  src: url(/fonts/MANIFESTO.ttf);
  font-weight: normal;
  font-style: normal; }

/* VARIABLES */
/*  ========================================================
    =================== LANDING PAGE =======================
    ======================================================== */
#homePage {
  width: 100%;
  height: 670px; }

.navbar {
  font-family: textFont;
  font-size: 20px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 15px 10px white; }

#projectsNavButton, #contactsNavButton, #homeNavButton {
  background-color: transparent;
  border: none; }

#homeIcon, #homeText,
#projectsIcon, #projectsText,
#contactIcon, #contactText {
  display: inline-block;
  padding: 0px;
  margin-right: auto; }

#homeIcon, #projectsIcon, #contactIcon {
  margin-top: -9px; }

#homeIcon {
  margin-left: -25px; }

button:hover {
  color: gray; }

button:active {
  font-size: 19px; }

button:focus {
  outline: 0; }

.nameDiv {
  font-family: titleFont;
  margin-left: 100px;
  width: 400px;
  opacity: 0;
  padding-top: 125px; }

#firstName {
  font-size: 100px;
  text-shadow: 2px 2px 7px black; }

#firstNameBorder {
  border: 1px solid black;
  width: 100px;
  margin-left: -1000px;
  margin-bottom: px;
  box-shadow: 2px 2px 7px black; }

#lastName {
  margin-left: 100px;
  margin-top: -20px;
  font-size: 100px;
  text-shadow: 2px 2px 7px black; }

#lastNameBorder {
  border: 1px solid black;
  margin-left: -1000px;
  margin-top: 30px;
  width: 100px;
  box-shadow: 2px 2px 7px black; }

.circles {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  margin-top: -150px;
  margin-right: 125px;
  float: right; }

#cssCircle {
  height: 100px;
  width: 100px;
  background-color: #a09add;
  border-radius: 50px;
  grid-column: 7;
  text-align: center; }

#cssText {
  color: white;
  margin-top: 20px;
  font-family: textFont;
  font-size: 15px; }

#JSCircle {
  height: 140px;
  width: 140px;
  background-color: #44bbd6;
  border-radius: 100px;
  grid-column: 3;
  grid-row: 2;
  text-align: center; }

#JSText {
  color: white;
  margin-top: 35px;
  font-family: textFont;
  font-size: 15px; }

#JSIcon {
  width: 50px;
  height: 50px; }

#HTMLCircle {
  height: 140px;
  width: 140px;
  background-color: #3480b7;
  border-radius: 100px;
  grid-column: 7;
  grid-row: 4;
  text-align: center; }

#HTMLText {
  color: white;
  margin-top: 30px;
  font-family: textFont;
  font-size: 20px; }

#HTMLIcon {
  width: 50px;
  height: 50px; }

#jQCircle {
  height: 100px;
  width: 100px;
  background-color: #067ed6;
  border-radius: 100px;
  grid-column: 4;
  grid-row: 6;
  text-align: center; }

#jQText {
  color: white;
  margin-top: 25px;
  font-family: textFont;
  font-size: 15px; }

#jQIcon {
  width: 30px;
  height: 30px; }

.SocMedDiv {
  margin-top: 100px;
  margin-left: 300px;
  font-family: textFont;
  font-size: 20px; }

#linkedInText, #linkedInIcon,
#GitText, #GitIcon,
#twitterText, #twitterIcon {
  display: inline-block; }

#linkedInIcon, #GitIcon {
  margin-top: -10px; }

a:hover {
  text-decoration: none; }

a:active {
  text-decoration: none; }

/*  *****************************************
    ******** PROJECTS PAGE (laptop)**********
    *****************************************/
#projectsDiv {
  height: 650px; }

#projectsTitleDiv {
  height: 100px;
  text-align: center;
  padding-top: 150px;
  text-shadow: 2px 2px 7px black; }

#projectsTitle {
  font-family: titleFont;
  font-size: 75px; }

#projectsTitleBorder {
  border: 1px solid black;
  width: 100px;
  margin-left: 430px;
  box-shadow: 2px 2px 7px black; }

.projectsImgDiv {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 15px;
  padding-top: 200px;
  width: 100%;
  justify-content: center; }

/* DIVS */
#localWeather {
  grid-column: 1;
  grid-row: 1; }

#twitchTV {
  grid-column: 2;
  grid-row: 1; }

#wikiViewer {
  grid-column: 3;
  grid-row: 1; }

#jsCalc {
  grid-column: 1;
  grid-row: 2; }

#quoteGen {
  grid-column: 2;
  grid-row: 2; }

/* IMAGES */
img#quoteGenImg, img#localWeatherImg, img#wikiViewerImg,
img#twitchTVImg, img#jsCalcImg {
  width: 200px;
  height: 125px; }

/* IMAGE HOVERS */
img#quoteGenImg:hover, img#localWeatherImg:hover, img#wikiViewerImg:hover,
img#twitchTVImg:hover, img#jsCalcImg:hover {
  width: 201px;
  height: 126px; }

.projectsImg {
  border: 1px solid black;
  box-shadow: 2px 2px 7px black; }

#gitHubLink {
  padding-top: 10px;
  display: block;
  margin: 0 auto; }

/*  *****************************************
    ********* CONTACT PAGE (laptop)**********
    *****************************************/
#contactDiv {
  height: 475px;
  text-align: center; }

#contactTitleDiv {
  margin-top: 150px; }

#contactTitle {
  font-size: 75px;
  font-family: titleFont; }

#contactTitleDivBorder {
  border: 1px solid black;
  width: 200px;
  margin-left: 355px; }

form {
  text-align: center;
  height: 225px;
  width: 500px;
  margin: 50px auto; }

/* LEFT ALIGNED SECTION */
#contactInfoDiv {
  height: 225px;
  width: 230px;
  float: left;
  background-color: #70c3ff;
  padding: 10px;
  border: 1px solid black; }

#contactInfoTitle {
  font-size: 25px;
  font-weight: bold;
  font-family: textFont;
  margin-right: 25px; }

#contactEmail, #contactLinkedIn {
  font-family: textFont;
  font-size: 11px;
  font-weight: bold;
  float: left; }

#emailsDiv {
  margin-top: 30px; }

#contactEmailIcon, #contactLinkedInIcon {
  width: 15px; }

/* RIGHT ALIGNED SECTION */
#contactFieldDiv {
  height: 225px;
  width: 268px;
  float: right; }

#nameIconDiv, #emailIconDiv, #messageIconDiv {
  width: 45px;
  height: 35px;
  padding: 3px;
  border: 1px solid black;
  background-color: #70c3ff; }

#nameIcon, #emailIcon, #messageIcon {
  vertical-align: middle; }

#nameLabel, #emailLabel, #messageLabel {
  margin-right: -5px;
  vertical-align: top; }

#nameInput, #emailInput, #messageInput {
  width: 210px;
  height: 35px;
  border-radius: 0px;
  padding: 5px;
  background-color: #cacaca;
  border: 1px solid black; }

#messageIconDiv {
  height: 100px; }

#messageInput {
  height: 100px; }

#submitButton {
  width: 255px;
  height: 40px;
  border-radius: 0px;
  background-color: #70c3ff;
  border: 1px solid black;
  font-family: textFont; }

::placeholder {
  font-family: textFont; }

/*
=====================================================
============= IPHONE 5 PORTRAIT DISPLAY =============
=====================================================
*/
@media only screen and (min-width: 320px) and (max-width: 325px) and (orientation: portrait) {
  #homePage {
    height: 650px; }
  .navbar {
    font-family: textFont;
    font-size: 15px;
    text-align: center;
    margin-top: 50px; }
  #homeIcon, #homeText,
  #projectsIcon, #projectsText,
  #contactIcon, #contactText {
    display: inline-block; }
  #projectsText, #contactText, #homeText {
    margin-right: auto; }
  .nameDiv {
    font-family: titleFont;
    margin-left: 20px;
    opacity: 0;
    width: 200px; }
  #firstName, #lastName {
    font-size: 50px;
    text-shadow: 2px 2px 7px black; }
  #lastName {
    margin-left: 50px; }
  #firstNameBorder, #lastNameBorder {
    border: 1px solid black;
    width: 50px;
    margin-left: -1000px;
    margin-bottom: -5px;
    box-shadow: 2px 2px 7px black; }
  #lastNameBorder {
    margin-top: 0px; }
  .circles {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(10, 20px);
    margin-top: 50px;
    margin-right: 10px; }
  #cssCircle {
    height: 85px;
    width: 85px;
    background-color: #a09add;
    border-radius: 50px;
    grid-column: 6;
    grid-row: 1;
    text-align: center; }
  #cssText {
    color: white;
    margin-top: 15px;
    font-family: textFont;
    font-size: 15px; }
  #JSCircle {
    height: 100px;
    width: 100px;
    background-color: #44bbd6;
    border-radius: 100px;
    grid-column: 1;
    grid-row: 2;
    text-align: center; }
  #JSText {
    color: white;
    margin-top: 20px;
    font-family: textFont;
    font-size: 15px; }
  #HTMLCircle {
    height: 100px;
    width: 100px;
    background-color: #3480b7;
    border-radius: 100px;
    grid-column: 6;
    grid-row: 6;
    text-align: center; }
  #HTMLText {
    color: white;
    margin-top: 20px;
    font-family: textFont;
    font-size: 15px; }
  #jQCircle {
    height: 75px;
    width: 75px;
    background-color: #067ed6;
    border-radius: 100px;
    grid-column: 2;
    grid-row: 8;
    text-align: center; }
  #jQText {
    color: white;
    margin-top: 10px;
    font-family: textFont;
    font-size: 15px; }
  #cssIcon, #JSIcon, #HTMLIcon, #jQIcon {
    width: 35px;
    height: 35px; }
  .SocMedDiv {
    margin-top: 10px !important;
    margin-left: 30px;
    font-family: textFont;
    font-size: 12px; }
  #linkedInText, #linkedInIcon,
  #GitText, #GitIcon,
  #twitterText, #twitterIcon {
    display: inline-block; }
  /***********************************************************
    ************ PROJECTS PAGE (iPhone 5 portrait)**************
    ************************************************************/
  #projectsDiv {
    height: 850px; }
  #projectsTitleDiv {
    margin-top: 0px;
    text-shadow: 2px 2px 7px black; }
  #projectsTitle {
    font-family: titleFont;
    font-size: 45px; }
  #projectsTitleBorder {
    border: 1px solid black;
    box-shadow: 2px 2px 7px black; }
  .projects {
    display: grid;
    grid-template-rows: 175px;
    justify-items: center; }
  .top2Projects {
    margin-top: 0px; }
  #localWeather {
    margin-top: 50px; }
  #localWeather {
    grid-row: 1; }
  #localWeatherImg, #twitchTVImg, #jsCalcImg, #quoteGenImg {
    height: 150px;
    width: 215px; }
  #twitchTV {
    grid-row: 2; }
  #jsCalc {
    grid-row: 3; }
  #quoteGen {
    grid-row: 4; } }

/*
=====================================================
============ IPHONE 5 LANDSCAPE DISPLAY =============
=====================================================
*/
@media only screen and (min-width: 568px) and (max-width: 570px) and (orientation: landscape) {
  .navbar {
    font-family: textFont;
    font-size: 15px;
    text-align: center;
    margin-top: 20px; }
  #homeIcon, #homeText,
  #projectsIcon, #projectsText,
  #contactIcon, #contactText {
    display: inline-block; }
  .nameDiv {
    font-family: titleFont;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 100px;
    opacity: 0;
    width: 200px; }
  #firstName, #lastName {
    margin-top: 35px;
    font-size: 50px;
    text-shadow: 2px 2px 7px black; }
  #lastName {
    margin-left: 50px;
    margin-top: -20px; }
  #firstNameBorder, #lastNameBorder {
    border: 1px solid black;
    width: 50px;
    margin-left: -1000px;
    margin-bottom: -20px;
    box-shadow: 2px 2px 7px black; }
  #lastNameBorder {
    margin-top: 0px; }
  .circles {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(15, 20px);
    margin-top: -120px;
    margin-right: 30px; }
  #cssCircle {
    height: 85px;
    width: 85px;
    background-color: #a09add;
    border-radius: 50px;
    grid-column: 6;
    grid-row: 1;
    text-align: center; }
  #JSCircle, #HTMLCircle {
    height: 100px;
    width: 100px;
    background-color: #44bbd6;
    border-radius: 100px;
    grid-column: 1;
    grid-row: 2;
    text-align: center; }
  #HTMLCircle {
    background-color: #3480b7;
    grid-column: 6;
    grid-row: 6; }
  #jQCircle {
    height: 75px;
    width: 75px;
    background-color: #067ed6;
    border-radius: 100px;
    grid-column: 2;
    grid-row: 8;
    text-align: center; }
  #cssText, #JSText, #HTMLText, #jQText {
    color: white;
    font-family: textFont;
    font-size: 15px; }
  #cssText {
    margin-top: 15px; }
  #JSText {
    margin-top: 25px; }
  #HTMLText {
    margin-top: 25px; }
  #jQText {
    margin-top: 13px; }
  #cssIcon, #JSIcon, #HTMLIcon, #jQIcon {
    margin-top: -5px;
    width: 30px;
    height: 30px; }
  .SocMedDiv {
    margin-top: 30px;
    margin-left: 100px;
    font-family: textFont;
    font-size: 10px; }
  #linkedInText, #linkedInIcon,
  #GitText, #GitIcon,
  #twitterText, #twitterIcon {
    display: inline-block; } }

/*
=====================================================
=========== IPHONE 6/7/8 PORTRAIT DISPLAY ===========
=====================================================
*/
@media only screen and (max-width: 375px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
  .navbar {
    font-family: textFont;
    font-size: 15px;
    text-align: center;
    margin-top: 20px; }
  #projectsIcon, #projectsText,
  #contactIcon, #contactText {
    display: inline-block; }
  .nameDiv {
    font-family: titleFont;
    margin-left: 20px;
    opacity: 0;
    width: 200px; }
  #firstName, #lastName {
    font-family: titleFont;
    font-size: 50px;
    text-shadow: 2px 2px 7px black; }
  #lastName {
    margin-left: 50px;
    margin-top: -20px; }
  #firstNameBorder, #lastNameBorder {
    border: 1px solid black;
    width: 50px;
    margin-left: -1000px;
    margin-bottom: -5px;
    box-shadow: 2px 2px 7px black; }
  .circles {
    display: grid;
    grid-template-columns: repeat(10, 15px);
    grid-template-rows: repeat(10, 15px);
    margin-top: 150px;
    margin-right: 50px; }
  #cssCircle {
    height: 75px;
    width: 75px;
    background-color: #a09add;
    border-radius: 50px;
    grid-column: 6;
    grid-row: 1;
    text-align: center; }
  #JSCircle {
    height: 90px;
    width: 90px;
    background-color: #44bbd6;
    border-radius: 100px;
    grid-column: 1;
    grid-row: 2;
    text-align: center; }
  #HTMLCircle {
    height: 90px;
    width: 90px;
    background-color: #3480b7;
    border-radius: 100px;
    grid-column: 6;
    grid-row: 6;
    text-align: center; }
  #jQCircle {
    height: 65px;
    width: 65px;
    background-color: #067ed6;
    border-radius: 100px;
    grid-column: 2;
    grid-row: 8;
    text-align: center; }
  #cssText, #JSText, #HTMLText, #jQText {
    color: white;
    margin-top: 15px;
    font-family: textFont;
    font-size: 12px; }
  #JSText {
    margin-top: 20px;
    font-size: 12px; }
  #HTMLText {
    margin-top: 20px;
    font-size: 15px; }
  #jQText {
    margin-top: 15px;
    margin-bottom: -1px;
    font-size: 12px; }
  #cssIcon, #JSIcon, #HTMLIcon, #jQIcon {
    width: 25px;
    height: 25px; }
  .SocMedDiv {
    margin-top: 70px;
    margin-left: 30px;
    font-family: textFont;
    font-size: 15px; }
  #linkedInText, #linkedInIcon,
  #GitText, #GitIcon,
  #twitterText, #twitterIcon {
    display: inline-block; }
  /***********************************************************
    ********** PROJECTS PAGE (iPhone 6/7/8 portrait)************
    ************************************************************/
  #projectsDiv {
    height: 850px;
    width: 100%;
    text-align: center; }
  #projectsTitleDiv {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 2px 2px 7px black; }
  #projectsTitle {
    font-family: titleFont;
    font-size: 45px; }
  #projectsTitleBorder {
    border: 1px solid black;
    margin-left: 60px;
    width: 75px;
    box-shadow: 2px 2px 7px black; }
  .projects {
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 175px; }
  .top2Projects {
    margin-top: 0px; }
  #localWeatherImg, #twitchTVImg,
  #quoteGenImg, #jsCalcImg {
    height: 150px;
    width: 215px; }
  #localWeather {
    grid-row: 1;
    margin-top: 50px; }
  #twitchTV {
    grid-row: 2; }
  #jsCalc {
    grid-row: 3; }
  #quoteGen {
    grid-row: 4;
    text-align: center; }
  .projectsImg {
    box-shadow: 2px 2px 7px black; }
  /*  ****************************************************
    ********* CONTACT PAGE (iPhone 6/7/8 portrait)**********
    *******************************************************/
  #contactDiv {
    height: 850px;
    width: 100%; }
  #contactTitleDiv {
    margin-top: 250px; }
  #contactTitle {
    font-size: 40px;
    font-family: titleFont; }
  #contactTitleDivBorder {
    border: 1px solid black;
    width: 100px;
    margin-left: 35px; }
  form {
    text-align: center;
    height: 225px;
    width: 100%; }
  #contactInfoDiv {
    height: 155px;
    width: 255px;
    background-color: #70c3ff;
    padding: 10px;
    float: none;
    margin: 100px auto 0 auto; }
  #contactInfoTitle {
    font-size: 25px;
    font-weight: bold;
    font-family: textFont;
    margin-right: 25px; }
  #contactEmail, #contactLinkedIn {
    font-family: textFont;
    font-size: 11px;
    font-weight: bold;
    float: left; }
  #emailsDiv {
    width: 200px;
    height: 50px;
    margin-top: 30px; }
  #contactEmailIcon, #contactLinkedInIcon {
    width: 15px; }
  #contactFieldDiv {
    height: 225px;
    width: 100%;
    margin-top: 25px; }
  #nameIconDiv {
    width: 45px;
    height: 35px;
    padding: 3px;
    border: 1px solid black;
    background-color: #70c3ff; }
  #nameIcon {
    vertical-align: middle; }
  #nameLabel {
    margin-right: -5px;
    vertical-align: top; }
  #nameInput {
    width: 210px;
    height: 35px;
    border-radius: 0px;
    background-color: #cacaca;
    border: 1px solid black; }
  #emailIconDiv {
    width: 45px;
    height: 35px;
    padding: 3px;
    border: 1px solid black;
    background-color: #70c3ff; }
  #emailIcon {
    vertical-align: top; }
  #emailLabel {
    margin-right: -5px;
    vertical-align: top; }
  #emailInput {
    width: 210px;
    height: 35px;
    border-radius: 0px;
    background-color: #cacaca;
    border: 1px solid black; }
  #messageIconDiv {
    width: 45px;
    height: 100px;
    padding: 3px;
    border: 1px solid black;
    background-color: #70c3ff; }
  #messageIcon {
    vertical-align: top; }
  #messageLabel {
    margin-right: -5px;
    display: inline-block;
    vertical-align: top; }
  #messageInput {
    width: 210px;
    height: 100px;
    border-radius: 0px;
    background-color: #cacaca;
    border: 1px solid black; }
  #submitButton {
    width: 255px;
    height: 40px;
    border-radius: 0px;
    background-color: #70c3ff;
    border: 1px solid black;
    font-family: textFont; }
  ::placeholder {
    font-family: textFont;
    padding: 2px; } }

/*
=====================================================
=========== IPHONE 6/7/8 LANDSCAPE DISPLAY ==========
=====================================================
*/
@media only screen and (min-width: 667px) and (max-width: 670px) and (orientation: landscape) {
  .navbar {
    font-family: textFont;
    font-size: 15px;
    text-align: center;
    margin-top: 20px; }
  .nameDiv {
    font-family: titleFont;
    margin-left: 20px;
    opacity: 0;
    width: 200px; }
  #firstName, #lastName {
    font-family: titleFont;
    font-size: 50px;
    margin-top: 30px;
    text-shadow: 2px 2px 7px black; }
  #lastName {
    margin-left: 50px;
    margin-top: -20px; }
  #firstNameBorder, #lastNameBorder {
    border: 1px solid black;
    width: 50px;
    margin-left: -1000px;
    margin-bottom: -20px;
    box-shadow: 2px 2px 7px black; }
  #lastNameBorder {
    margin-left: -1000px;
    margin-top: 0px; }
  .circles {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(15, 20px);
    margin-top: -100px;
    margin-right: 50px; }
  #cssCircle {
    height: 85px;
    width: 85px;
    background-color: #a09add;
    border-radius: 50px;
    grid-column: 6;
    grid-row: 1;
    text-align: center; }
  #cssText {
    color: white;
    margin-top: 15px;
    font-family: textFont;
    font-size: 15px; }
  #JSCircle {
    height: 100px;
    width: 100px;
    background-color: #44bbd6;
    border-radius: 100px;
    grid-column: 1;
    grid-row: 2;
    text-align: center; }
  #JSText {
    color: white;
    margin-top: 20px;
    font-family: textFont;
    font-size: 15px; }
  #JSIcon {
    width: 30px;
    height: 30px; }
  #HTMLCircle {
    height: 100px;
    width: 100px;
    background-color: #3480b7;
    border-radius: 100px;
    grid-column: 6;
    grid-row: 6;
    text-align: center; }
  #HTMLText {
    color: white;
    margin-top: 20px;
    font-family: textFont;
    font-size: 15px; }
  #HTMLIcon {
    width: 25px;
    height: 25px; }
  #jQCircle {
    height: 75px;
    width: 75px;
    background-color: #067ed6;
    border-radius: 100px;
    grid-column: 2;
    grid-row: 8;
    text-align: center; }
  #jQText {
    color: white;
    margin-top: 10px;
    font-family: textFont;
    font-size: 15px; }
  #jQIcon {
    width: 25px;
    height: 25px; }
  .SocMedDiv {
    margin-top: 50px;
    margin-left: 100px;
    font-family: textFont;
    font-size: 15px; } }

/*
=====================================================
======== IPHONE 6/7/8 PLUS PORTRAIT DISPLAY =========
=====================================================
*/
@media only screen and (min-width: 414px) and (max-width: 420px) and (orientation: portrait) {
  .navbar {
    font-family: textFont;
    font-size: 15px;
    text-align: center;
    margin-top: 20px; }
  .nameDiv {
    font-family: titleFont;
    margin-left: 20px;
    opacity: 0;
    width: 200px; }
  #firstName, #lastName {
    font-family: titleFont;
    font-size: 70px;
    margin-top: 35px;
    text-shadow: 2px 2px 7px black; }
  #lastName {
    margin-left: 50px;
    margin-top: -20px; }
  #firstNameBorder, #lastNameBorder {
    border: 1px solid black;
    width: 50px;
    margin-left: -1000px;
    margin-bottom: -20px;
    box-shadow: 2px 2px 7px black; }
  #lastNameBorder {
    margin-top: 0px; }
  .circles {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(15, 20px);
    margin-top: 100px;
    margin-right: 100px; }
  #cssCircle {
    height: 100px;
    width: 100px;
    background-color: #a09add;
    border-radius: 50px;
    grid-column: 8;
    grid-row: 1;
    text-align: center; }
  #cssText {
    color: white;
    margin-top: 15px;
    font-family: textFont;
    font-size: 20px; }
  #JSCircle {
    height: 140px;
    width: 140px;
    background-color: #44bbd6;
    border-radius: 100px;
    grid-column: 1;
    grid-row: 2;
    text-align: center; }
  #JSText {
    color: white;
    margin-top: 30px;
    font-family: textFont;
    font-size: 20px; }
  #JSIcon {
    width: 30px;
    height: 30px; }
  #HTMLCircle {
    height: 140px;
    width: 140px;
    background-color: #3480b7;
    border-radius: 100px;
    grid-column: 8;
    grid-row: 7;
    text-align: center; }
  #HTMLText {
    color: white;
    margin-top: 30px;
    font-family: textFont;
    font-size: 20px; }
  #HTMLIcon {
    width: 25px;
    height: 25px; }
  #jQCircle {
    height: 100px;
    width: 100px;
    background-color: #067ed6;
    border-radius: 100px;
    grid-column: 2;
    grid-row: 10;
    text-align: center; }
  #jQText {
    color: white;
    margin-top: 10px;
    font-family: textFont;
    font-size: 20px; }
  #jQIcon {
    width: 25px;
    height: 25px; }
  .SocMedDiv {
    margin-top: 30px;
    margin-left: 30px;
    font-family: textFont;
    font-size: 15px; } }

/*
=====================================================
======== IPHONE 6/7/8 PLUS LANDSCAPE DISPLAY ========
=====================================================
*/
@media only screen and (min-width: 736px) and (max-width: 740px) and (orientation: landscape) {
  .navbar {
    font-family: textFont;
    font-size: 15px;
    text-align: center;
    margin-top: 20px; }
  .nameDiv {
    font-family: titleFont;
    margin-left: 20px;
    opacity: 0;
    width: 200px; }
  #firstName, #lastName {
    font-family: titleFont;
    font-size: 70px;
    margin-top: 35px;
    text-shadow: 2px 2px 7px black; }
  #lastName {
    margin-left: 50px;
    margin-top: -20px; }
  #firstNameBorder, #lastNameBorder {
    border: 1px solid black;
    width: 50px;
    margin-left: -1000px;
    margin-bottom: -20px;
    box-shadow: 2px 2px 7px black; }
  #lastNameBorder {
    margin-top: 0px; }
  .circles {
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(15, 20px);
    margin-top: -150px;
    margin-right: 100px; }
  #cssCircle {
    height: 100px;
    width: 100px;
    background-color: #a09add;
    border-radius: 50px;
    grid-column: 8;
    grid-row: 1;
    text-align: center; }
  #cssText {
    color: white;
    margin-top: 15px;
    font-family: textFont;
    font-size: 20px; }
  #JSCircle {
    height: 140px;
    width: 140px;
    background-color: #44bbd6;
    border-radius: 100px;
    grid-column: 1;
    grid-row: 2;
    text-align: center; }
  #JSText {
    color: white;
    margin-top: 30px;
    font-family: textFont;
    font-size: 20px; }
  #JSIcon {
    width: 30px;
    height: 30px; }
  #HTMLCircle {
    height: 140px;
    width: 140px;
    background-color: #3480b7;
    border-radius: 100px;
    grid-column: 8;
    grid-row: 7;
    text-align: center; }
  #HTMLText {
    color: white;
    margin-top: 30px;
    font-family: textFont;
    font-size: 20px; }
  #HTMLIcon {
    width: 25px;
    height: 25px; }
  #jQCircle {
    height: 100px;
    width: 100px;
    background-color: #067ed6;
    border-radius: 100px;
    grid-column: 2;
    grid-row: 10;
    text-align: center; }
  #jQText {
    color: white;
    margin-top: 10px;
    font-family: textFont;
    font-size: 20px; }
  #jQIcon {
    width: 25px;
    height: 25px; }
  .SocMedDiv {
    margin-top: 30px;
    margin-left: 100px;
    font-family: textFont;
    font-size: 15px; }
  #linkedInText, #linkedInIcon,
  #GitText, #GitIcon,
  #twitterText, #twitterIcon {
    display: inline-block; } }
