#draw {
  border: 1px solid black;
  float: left; }

#tools {
  border: 1px solid black;
  float: left;
  height: 500px; }

button {
  margin-top: 10px; }

#rect {
  border: 1px solid black;
  width: 20px;
  height: 20px; }

#draw-rect:active {
  background-color: black;
  color: white; }
